/*------------------------------------*\
  #TEMPLATE HOME
\*------------------------------------*/

.tml-home-top {
    &__actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: rem(35px 35px);
    }

    &__settings {
        >ul{
            display: flex;
        }

        li{
            position: relative;

            ul{
                display: none;
                padding-top: 30px;
                position: absolute;
                top:0px;
                left:0px;                
            }

            &:hover{
                ul{
                    display: block;
                }
            }

            a{
                color: $tml-home-top-icons;
                font-size: rem(20px);    
            }
        }

        li:not(:last-child){
            margin-right: 25px;
        }
    }

    &__data {
        display: flex;
        background: $base-light-blue;
        border: rem(1px solid $base-gray);

        li:not(.tml-home-top__data-chart) {
            width: 21.46%;
            border-right: rem(1px solid $base-gray);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: relative;
            padding: rem(58px 0px 45px 0px);
            align-items: center;

            svg{
                position: absolute;
                top: rem(15px);
                left: rem(15px);
                height: 19px;
                width: 19px;
            }
        }

        &-chart {
            width: 35.60%;
            text-align: center;
            padding: rem(20px 35px);

            &-cost {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: rem(30px);
            }

            &-total {
                font-weight: bold;
                
                span{
                    font-size: rem(28px);
                    color: $base-dark-blue;
                }
            }

            &-timeframe{
                span {
                    color: $base-dark-blue;
                }
            }
        }

        &-marker {
            display: block;
            width: 15px;
            height: 15px;
            position: absolute;
            top: rem(5px);
            right: rem(5px);

            &:before {
                content: "";
                display: inline-block;
                width: 0;
                height: 0;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-left: 10px solid $base-gray;
                transform: rotate(-45deg);
            }
        }

        &-count {
            font-size: rem(40px);
            font-weight: bold;
            margin-bottom: rem(18px);
            color: $base-dark-blue;
        }

        &-type {
            font-weight: bold;
        }

        &-separator {
            display: inline-block;
            background: $base-gray;
            height: 3px;
            width: 30px;
            margin: rem(20px 0px);
        }

        &-last-month {
            span {
                font-weight: bold;
                color: $base-dark-blue;
            }
        }
    }
}

.tml-home-main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .results {
        width: 64%;
        border-right: rem(1px solid $base-gray);

        &__search {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: rem(40px 30px);
            border-bottom: rem(1px solid $base-gray);
            background: white;

            input {
                outline: none;
                border-radius: 10px;
                border: 2px solid $base-gray;
                background: url("../../images/tml-home/search-icon.png") center left 5px no-repeat;
                background-size: rem(15px);
                width: 40%;
                padding: rem(10px 10px 10px 25px);
            }
        }

        >li:nth-child(even){
            background: $white;
        }

        >li:not(.results__search){
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding: rem(40px 30px);
            border-bottom: rem(1px solid $base-gray);
        }

        &-profile-image {
            border-radius: 100%;
            padding: rem(5px);
            width: 100px;
            height: 100px;
            overflow: hidden;

            img {
                width: 100%;
                border-radius: 100%;
                border: 2px solid transparent;
                padding: rem(5px);

                &.border-color-red{
                    border-color: $red;
                }

                &.border-color-green {
                    border-color: $base-green;
                }
                
                &.border-color-orange {
                    border-color: $orange;
                }
            }
        }

        &-info {
            padding-right: rem(15px);            

            &__status {
                display: block;
                font-size: rem(16px);
            }

            &__endorsement {
                font-size: rem(14px);
            }

            &__subs {
                display: flex;
                margin: rem(15px 0px);

                li {
                    padding: rem(0px 15px);
                    border-left: rem(1px solid $base-gray);
                }

                li:first-child {
                    border-left: none;
                    padding-left: 0;
                }
            }

            &__workroom {
                &-circle {
                    margin: rem(0px 7px);
                    display: inline-block;
                }
            }
        }

        &-status {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 161px;

            &__price {
                font-weight: bold;
                color: $base-dark-blue;
                font-size: rem(16px);
            }

            &__video {
                margin-bottom: rem(15px);
            }
        }
    }
}

.tml-home-main-sidebar {
    width: 35.3%;
    background: $white;
    border-left: rem(1px solid $base-gray);

    &__pastry {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        max-width: 325px;
        padding: rem(0px 10px);
        margin: 0px auto;

        &-actions {
            display: flex;
            width: 80px;

            a {
                border: 1px solid $base-gray;
                padding: rem(5px 0px);
                width: 50%;
                color: $base-gray;
                text-align: center;

                &:hover {
                    background: $base-blue;
                }
            }

            a:first-child {
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                border-right: none;
            }

            a:last-child {
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }
        }
    }

    &__chat {
        max-width: 430px;
        margin: 0px auto;
        margin-top: rem(40px);
        padding: rem(0px 15px);
        
        &-button {
            margin-top: rem(40px);
            width: 100%;
            display: block;
            height: 1px;
            background: $base-gray;
            position: relative;

            a {
                border-radius: 100%;
                border: 1px solid $base-gray;
                width: 25px;
                line-height: 25px;
                display: block;
                text-align: center;
                position: absolute;
                left: 50%;
                top: 0;
                transform: translate(-50%, -50%);
                z-index: 1;
                background: $white;
            }
        }

        &-msg-container {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            margin-bottom: rem(30px);
        }

        &-msg {
            background: $base-light-blue;
            border-radius: 10px;
            padding: rem(15px 0px 0px 15px);
        }

        &-img-container {
            width: 40px;
            height: 40px;
            min-width: 40px;
            min-height: 40px;
            margin-right: 20px;

            img{
                max-width: 100%;
                border-radius: 100%;
            }
        }

        &-input {
            width: 100%;
            resize: none;
            padding: rem(20px 15px 20px 20px);
            outline: none;
            border: none;
            border-top: 1px solid $base-gray;
            border-bottom: 1px solid $base-gray;
            font-size: rem(18px);
            line-height: rem(20px);
        }

        &-msg-attachment {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: -5px;
            background: $base-light-blue;

            &-file {
                padding: rem(0px 0px 0px 20px);

                a{
                    color: $base-dark-blue;
                    margin-left: rem(10px);
                    display: inline-block;
                }

                &-name{
                    padding-left: rem(10px);
                    margin-left: rem(10px);
                    border-left: rem(2px solid $base-gray);
                }
            }

            &-send {
                background: $base-green;
                width: 70px;
                line-height: 45px;
                text-align: center;
                color: $white;
                font-size: rem(22px);
            }
        }
    }
}





/*------------------------------------*\
  #TEMPLATE HOME RESPONSIVE
\*------------------------------------*/

@media (max-width: 1300px){
    .tml-home-top{
        &__data{
            flex-wrap: wrap;

            li:not(.tml-home-top__data-chart){
                width: 50%;
                border-bottom: 1px solid $base-gray;
            }

            li.tml-home-top__data-chart{
                width: 50%;
                border-bottom: 1px solid $base-gray;
            }
        }
    }

    .tml-home-main {
        flex-wrap: wrap;

        .results {
            width: 100%;
        }
        
        &-sidebar{
            width: 100%;
        }
    }
}

@media (max-width: 991px) {
    .tml-home-top {
        &__data-chart-total {
            span {
                font-size: rem(16px);
            }
        } 
    }

    .tml-home-main {
        .results{
            >li:not(.results__search){
                padding: rem(40px 15px);
            }
        }
    }
}

@media (max-width: 479px) {
    .tml-home-top {
        &__actions {
            padding: 20px 10px;
        }

        &__settings{
            li:not(:last-child) {
                margin-right: 15px;
            }
        } 

        &__data {
            li:not(.tml-home-top__data-chart) {
                width: 100%;
            }

            li.tml-home-top__data-chart{
                width: 100%;
            }
        }
    }

    .tml-home-main {
        .results {
            > li:not(.results__search) {
                flex-direction: column;
                align-items: center;
                text-align: center;
            }

            &-profile-image {
                margin-bottom: rem(20px);
            }

            &-info {
                padding-right: 0;

                &__subs{
                    justify-content: center;
                    margin: rem(20px 0px);    

                    li:last-child {
                        padding-right: 0;
                    }
                }
            }

            &-status {
                &__video {
                    margin-top: rem(20px);
                }
            }
        }
    }
}