/*------------------------------------*\
  #COLORS
\*------------------------------------*/

$white: white;
$red: red;
$orange: orange;
$base-green: #28bd8b;
$base-light-blue: #f4f7fa;
$base-gray: #e2e7ec;
$base-dark-blue: #5a6779;
$base-blue: #1ba8ed;
$body-color: #8e9aa9;

$sidebar_color: #6a7583;
$sidebar_base_red: #ea5a5a;
$sidebar_left_bg: #313541;
$sidebar_right_bg: #282C37;
$sidebar_right_hover_and_border: #1f222d;

$tml-home-top-icons: #a4adba;
