/*------------------------------------*\
  #GLOBAL STYLES
\*------------------------------------*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-size: rem(14px);
    color: $body-color;
}

ul {
    padding:0;
    margin:0;
    list-style: none;
}

.bold {
    font-weight: bold;
}

.img-responsive {
    max-width: 100%;
}

.color-blue {
    color: $base-blue;
}

.color-dark-blue {
    color: $base-dark-blue;
}