/*------------------------------------*\
  #TYPOGRAPHY
\*------------------------------------*/

h3 {
    font-size: 18px;
}

p {
    margin-top: 0;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}