.sidebar {
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 25%;
    color: $sidebar_color;        
    
    a{
        color: $sidebar_color;        
    }

    &-left {
        width: 26%;
        background: $sidebar_left_bg;
        position: relative;
        z-index: 1;

        &__navigation {
            li {
                a {
                    display: block;
                    text-align: center;
                    padding: rem(20px 5px);
                    font-size: rem(25px);
                    position: relative;

                    span {
                        display: block;
                        font-size: rem(14px);
                    }

                    span.messages {
                        color: $white;
                        background: $sidebar_base_red;
                        width: 18px;
                        line-height: 18px;
                        border-radius: 100%;
                        text-align: center;
                        position: absolute;
                        top: 50%;
                        right: 50%;
                        transform: translate(100%, -150%);
                        font-size: rem(10px);
                    }
                }

                &.active a, a:hover{
                    background: $sidebar_base_red;
                    color: $white;
                }
            }
        }
    }

    &-right {
        width: 74%;
        background: $sidebar_right_bg;
        padding: rem(40px 20px 20px 20px);

        &__top {
            display: flex;
            justify-content: space-between;
            padding: rem(0px 15px);

            a {
                position: relative;
                font-size: rem(20px);
                
                span {
                    position: absolute;
                    bottom: 0px;
                    right: -2px;
                    color: $sidebar-base-red;
                    font-size: rem(13px);
                    background: $sidebar-right-bg;
                    text-align: center;
                    width: rem(13px);
                    line-height: rem(13px);
                    border-radius: 100%;
                }
            }
        }

        &__list-types {
            margin-top: rem(30px);
            padding-bottom: rem(30px);
            border-bottom: rem(1px solid $sidebar_right_hover_and_border);
            
            li {
                a {
                    display: flex;
                    justify-content: space-between;
                    line-height: rem(30px);
                    padding: rem(0px 15px);
                    border-radius: rem(5px);                   
                }

                &.active a, a:hover{
                    color: $white;
                    font-size: rem(15px);
                    background: $sidebar_right_hover_and_border;
                }
            }

            li:first-child {
                a{
                    font-size: rem(15px);
                    color: $white;
                }
            }
        }

        &__list-types:last-child{
            border-bottom-width: 0;
        }
    }
}

@media (max-width: 1299px){
    .sidebar {
        width: 35%;
    }
}

@media (max-width: 991px){
    .sidebar {
        width: 40%;
    }
}

@media (max-width: 767px){
    .sidebar {
        width: 100%;
        flex-wrap: wrap;
        position: static;
        padding-top: rem(60px);

        &-left {
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 10;

            &__navigation {
                display: block;
                text-align: center;

                li{
                    display: inline-block;

                    a{
                        padding: rem(15px);

                        span{
                            font-size: rem(10px);
                        }
                    }
                    
                    &:last-child {
                        display: none !important;
                    }
                }
            }
        }

        &-right {
            width: 100%;

            &__list-types-container {
                overflow: hidden;

                &.hide {
                    height: 0px;
                }
            }
        }
    }
}

@media (max-width: 479px){
    .sidebar {
        &-left {
            width: 100%;

            &__navigation {
                li{
                    a{
                        padding: rem(8px);     
                    }
                }
            }
        }
    }
}

@media (min-width: 768px){
    .sidebar{
        &-left {
             &__navigation{
                 li.hide{
                     display: none !important;
                 }
             }
        }
    }

    .sidebar-right {
        transition: all 0.3s linear;
        position: relative;
        z-index: 0;

        &.hide {
            transform: translateX(-100%);
        }
    }
}