/*------------------------------------*\
  #BUTTONS
\*------------------------------------*/

.btn {
    text-align: center;
    border-radius: rem(10px);
    color: $white;
    
    &.--bg-green{
        background: $base-green;
    }

    &.--bg-orange{
        background: $orange;
    }

    &.--bg-red{
        background: $red;
    }

    &.--padding-9-12{
        padding: rem(9px 12px);
    }

    &.--small{
        padding: 3px 8px;
        font-size: 11px;
        font-weight: bold;
    }
}