/*------------------------------------*\
  #MAIN CONTENT
\*------------------------------------*/

.main-content {
    width: 75%;
    float: right;
    background: $base-light-blue;
}




/*------------------------------------*\
  #MAIN CONTENT RESPONSIVE
\*------------------------------------*/

@media (max-width: 1299px){
  .main-content {
    width: 65%;
  }
}

@media (max-width: 991px){
  .main-content {
    width: 60%;
  }
}

@media (max-width: 767px){
  .main-content {
    width: 100%;
  }
}

@media (min-width: 768px){
  .main-content {
    transition: width 0.3s linear;

    &.wide{
      width: 89.7%;
    }
  }
}

@media (min-width: 992px){
  .main-content {
    &.wide{
      width: 91%;
    }
  }
}

@media (min-width: 1300px){
  .main-content {
    &.wide{
      width: 94%;
    }
  }
}